In [16]:
import pandas as pd
train_data: pd.DataFrame = pd.read_csv("./train.csv")

---

# Look at the data

* **Cabin** has too many missing values.
* **Ticket** has too many unique values.

In [2]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Gender       891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [3]:
train_data.head()

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
train_data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [5]:
train_data.corr(numeric_only= True)

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
PassengerId,1.000000,-0.005007,-0.035144,0.036847,-0.057527,-0.001652,0.012658
Survived,-0.005007,1.000000,-0.338481,-0.077221,-0.035322,0.081629,0.257307
Pclass,-0.035144,-0.338481,1.000000,-0.369226,0.083081,0.018443,-0.549500
Age,0.036847,-0.077221,-0.369226,1.000000,-0.308247,-0.189119,0.096067
SibSp,-0.057527,-0.035322,0.083081,-0.308247,1.000000,0.414838,0.159651
Parch,-0.001652,0.081629,0.018443,-0.189119,0.414838,1.000000,0.216225
Fare,0.012658,0.257307,-0.549500,0.096067,0.159651,0.216225,1.000000

In [6]:
len(train_data["Ticket"].unique())

681

In [18]:
train_data["Cabin"].isna().sum()

687

---

# **Feature Engineering**

#### lets look at **ONE-HOT ENCODING**

In [8]:
from sklearn.preprocessing import OneHotEncoder, MinMaxScaler
from sklearn.pipeline import make_pipeline, Pipeline
from sklearn.impute import SimpleImputer

cat_columns: list[str] = ["Gender", "Embarked"]
num_columns: list[str] = ["Pclass", "Age", "SibSp", "Parch"]

# Create a pipeline for the categorical columns using OneHotEncoder
cat_pipeline: Pipeline = make_pipeline(
    SimpleImputer(strategy="most_frequent"),
    OneHotEncoder(handle_unknown="ignore"))


# Create a pipeline for the numerical columns using MinMaxScaler
num_pipeline: Pipeline = make_pipeline(
    SimpleImputer(strategy="median"),
    MinMaxScaler())

In [9]:
train_data.head()

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [10]:
make_pipeline(
    SimpleImputer(strategy="most_frequent"),
    OneHotEncoder(handle_unknown="ignore")).fit_transform(train_data[cat_columns]).toarray()

array([[0., 1., 0., 0., 1.],
       [1., 0., 1., 0., 0.],
       [1., 0., 0., 0., 1.],
       ...,
       [1., 0., 0., 0., 1.],
       [0., 1., 1., 0., 0.],
       [0., 1., 0., 1., 0.]])

In [11]:
from sklearn.compose import ColumnTransformer

preprocessing = ColumnTransformer([
    ("num", num_pipeline, num_columns),
    ("cat", cat_pipeline, cat_columns),
])

In [12]:
train_data = pd.read_csv("./train.csv")
train_data = train_data.drop(["PassengerId", "Name", "Ticket", "Cabin"], axis= 1)
X = train_data.drop('Survived', axis= 1)
y = train_data['Survived']

In [13]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import log_loss, accuracy_score, classification_report

log_reg = LogisticRegression()

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.2, random_state= 42)
X_train = preprocessing.fit_transform(X_train)
X_test = preprocessing.transform(X_test)

log_reg.fit(X_train, y_train)

predictions = log_reg.predict(X_test)

log_loss_ = log_loss(y_test, predictions)
acc_score = accuracy_score(y_test, predictions)

print(f"Log loss: {log_loss_}")
print(f"Accuracy score: {acc_score}")
print(classification_report(y_test, predictions))

Log loss: 7.450364108364997
Accuracy score: 0.7932960893854749
              precision    recall  f1-score   support

           0       0.81      0.84      0.83       105
           1       0.76      0.73      0.74        74

    accuracy                           0.79       179
   macro avg       0.79      0.78      0.79       179
weighted avg       0.79      0.79      0.79       179

---

# Prediction

In [22]:
test_data: pd.DataFrame = pd.read_csv("./test.csv")
test = test_data.drop(["PassengerId", "Name", "Ticket", "Cabin"], axis= 1)
test = preprocessing.transform(test)
test_predictions = log_reg.predict(test)

In [24]:
log_reg.predict(test)

array([0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0,
       1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0],
      dtype=int64)

In [23]:
log_reg.predict_proba(test)

array([[0.87994623, 0.12005377],
       [0.5211397 , 0.4788603 ],
       [0.8325015 , 0.1674985 ],
       [0.8936797 , 0.1063203 ],
       [0.42021351, 0.57978649],
       [0.86736977, 0.13263023],
       [0.33466035, 0.66533965],
       [0.80661282, 0.19338718],
       [0.23692446, 0.76307554],
       [0.91186709, 0.08813291],
       [0.89550028, 0.10449972],
       [0.65856786, 0.34143214],
       [0.0981843 , 0.9018157 ],
       [0.88758826, 0.11241174],
       [0.14751873, 0.85248127],
       [0.14047179, 0.85952821],
       [0.74690478, 0.25309522],
       [0.81465209, 0.18534791],
       [0.42518337, 0.57481663],
       [0.34336665, 0.65663335],
       [0.61300426, 0.38699574],
       [0.86500924, 0.13499076],
       [0.09255513, 0.90744487],
       [0.42993647, 0.57006353],
       [0.11517814, 0.88482186],
       [0.93904637, 0.06095363],
       [0.05442217, 0.94557783],
       [0.81898516, 0.18101484],
       [0.63654131, 0.36345869],
       [0.8742724 , 0.1257276 ],
       [0.86000707, 0.13999293],
       [0.81384139, 0.18615861],
       [0.49166287, 0.50833713],
       [0.46757394, 0.53242606],
       [0.49432112, 0.50567888],
       [0.80725305, 0.19274695],
       [0.39078279, 0.60921721],
       [0.35912316, 0.64087684],
       [0.88995458, 0.11004542],
       [0.89550028, 0.10449972],
       [0.87036849, 0.12963151],
       [0.57673705, 0.42326295],
       [0.91676544, 0.08323456],
       [0.21001886, 0.78998114],
       [0.14272854, 0.85727146],
       [0.88995458, 0.11004542],
       [0.52624806, 0.47375194],
       [0.86604416, 0.13395584],
       [0.09997274, 0.90002726],
       [0.46574622, 0.53425378],
       [0.59723666, 0.40276334],
       [0.66306115, 0.33693885],
       [0.24636125, 0.75363875],
       [0.16177325, 0.83822675],
       [0.66736087, 0.33263913],
       [0.90398135, 0.09601865],
       [0.90748843, 0.09251157],
       [0.88995458, 0.11004542],
       [0.90970166, 0.09029834],
       [0.06532066, 0.93467934],
       [0.87389235, 0.12610765],
       [0.78684697, 0.21315303],
       [0.87600475, 0.12399525],
       [0.30119004, 0.69880996],
       [0.49080133, 0.50919867],
       [0.2036841 , 0.7963159 ],
       [0.28518914, 0.71481086],
       [0.66289577, 0.33710423],
       [0.45879144, 0.54120856],
       [0.2317366 , 0.7682634 ],
       [0.30937915, 0.69062085],
       [0.88216037, 0.11783963],
       [0.3953888 , 0.6046112 ],
       [0.44683265, 0.55316735],
       [0.06415174, 0.93584826],
       [0.46599047, 0.53400953],
       [0.89550028, 0.10449972],
       [0.19186444, 0.80813556],
       [0.78029897, 0.21970103],
       [0.30937915, 0.69062085],
       [0.80672825, 0.19327175],
       [0.77279565, 0.22720435],
       [0.67146964, 0.32853036],
       [0.89550028, 0.10449972],
       [0.72051609, 0.27948391],
       [0.85538478, 0.14461522],
       [0.32188938, 0.67811062],
       [0.34590399, 0.65409601],
       [0.32611805, 0.67388195],
       [0.72407817, 0.27592183],
       [0.40177722, 0.59822278],
       [0.89550028, 0.10449972],
       [0.12046873, 0.87953127],
       [0.89550028, 0.10449972],
       [0.43019615, 0.56980385],
       [0.88995458, 0.11004542],
       [0.23249193, 0.76750807],
       [0.89729327, 0.10270673],
       [0.35469177, 0.64530823],
       [0.90419526, 0.09580474],
       [0.08596357, 0.91403643],
       [0.79758816, 0.20241184],
       [0.86604416, 0.13395584],
       [0.89183123, 0.10816877],
       [0.27482835, 0.72517165],
       [0.89550028, 0.10449972],
       [0.84957566, 0.15042434],
       [0.86604416, 0.13395584],
       [0.89550028, 0.10449972],
       [0.73988657, 0.26011343],
       [0.72056453, 0.27943547],
       [0.32611805, 0.67388195],
       [0.06532066, 0.93467934],
       [0.28716114, 0.71283886],
       [0.19072838, 0.80927162],
       [0.82982747, 0.17017253],
       [0.83419785, 0.16580215],
       [0.3257779 , 0.6742221 ],
       [0.48283823, 0.51716177],
       [0.23463545, 0.76536455],
       [0.15811278, 0.84188722],
       [0.88372883, 0.11627117],
       [0.07457811, 0.92542189],
       [0.89550028, 0.10449972],
       [0.86604416, 0.13395584],
       [0.35887936, 0.64112064],
       [0.88415264, 0.11584736],
       [0.40078471, 0.59921529],
       [0.81743921, 0.18256079],
       [0.88804945, 0.11195055],
       [0.90250966, 0.09749034],
       [0.56452438, 0.43547562],
       [0.46521902, 0.53478098],
       [0.85538478, 0.14461522],
       [0.91966492, 0.08033508],
       [0.88804945, 0.11195055],
       [0.83015341, 0.16984659],
       [0.76677353, 0.23322647],
       [0.3680578 , 0.6319422 ],
       [0.95251502, 0.04748498],
       [0.54234471, 0.45765529],
       [0.10098811, 0.89901189],
       [0.69089475, 0.30910525],
       [0.77360769, 0.22639231],
       [0.64099622, 0.35900378],
       [0.93652425, 0.06347575],
       [0.57673705, 0.42326295],
       [0.88415264, 0.11584736],
       [0.57673705, 0.42326295],
       [0.81837513, 0.18162487],
       [0.05542431, 0.94457569],
       [0.83419785, 0.16580215],
       [0.94134712, 0.05865288],
       [0.46574622, 0.53425378],
       [0.9345102 , 0.0654898 ],
       [0.88804945, 0.11195055],
       [0.0941895 , 0.9058105 ],
       [0.3680578 , 0.6319422 ],
       [0.64099622, 0.35900378],
       [0.41816764, 0.58183236],
       [0.32611805, 0.67388195],
       [0.80972074, 0.19027926],
       [0.19749265, 0.80250735],
       [0.89550028, 0.10449972],
       [0.81454031, 0.18545969],
       [0.43913607, 0.56086393],
       [0.54066245, 0.45933755],
       [0.91916564, 0.08083436],
       [0.05650025, 0.94349975],
       [0.36357871, 0.63642129],
       [0.89550028, 0.10449972],
       [0.83151021, 0.16848979],
       [0.90145197, 0.09854803],
       [0.83419785, 0.16580215],
       [0.94894871, 0.05105129],
       [0.18814947, 0.81185053],
       [0.17977368, 0.82022632],
       [0.60841419, 0.39158581],
       [0.27279967, 0.72720033],
       [0.1226079 , 0.8773921 ],
       [0.78029897, 0.21970103],
       [0.54701096, 0.45298904],
       [0.08996202, 0.91003798],
       [0.86604416, 0.13395584],
       [0.06935174, 0.93064826],
       [0.81160598, 0.18839402],
       [0.19428466, 0.80571534],
       [0.90546001, 0.09453999],
       [0.731591  , 0.268409  ],
       [0.81160598, 0.18839402],
       [0.81853255, 0.18146745],
       [0.57673705, 0.42326295],
       [0.88771404, 0.11228596],
       [0.82979197, 0.17020803],
       [0.73007295, 0.26992705],
       [0.90419526, 0.09580474],
       [0.37858779, 0.62141221],
       [0.34590399, 0.65409601],
       [0.75625583, 0.24374417],
       [0.39078279, 0.60921721],
       [0.32611805, 0.67388195],
       [0.85399828, 0.14600172],
       [0.57578704, 0.42421296],
       [0.18070217, 0.81929783],
       [0.76330305, 0.23669695],
       [0.4444478 , 0.5555522 ],
       [0.35648651, 0.64351349],
       [0.75979712, 0.24020288],
       [0.06187214, 0.93812786],
       [0.88995458, 0.11004542],
       [0.90250966, 0.09749034],
       [0.89550028, 0.10449972],
       [0.7342744 , 0.2657256 ],
       [0.35805809, 0.64194191],
       [0.63380648, 0.36619352],
       [0.64099622, 0.35900378],
       [0.32611805, 0.67388195],
       [0.75161858, 0.24838142],
       [0.10408577, 0.89591423],
       [0.89550028, 0.10449972],
       [0.15504932, 0.84495068],
       [0.88216037, 0.11783963],
       [0.18553807, 0.81446193],
       [0.88216037, 0.11783963],
       [0.08845263, 0.91154737],
       [0.30487099, 0.69512901],
       [0.88611557, 0.11388443],
       [0.32611805, 0.67388195],
       [0.91602585, 0.08397415],
       [0.79951268, 0.20048732],
       [0.72282091, 0.27717909],
       [0.08181207, 0.91818793],
       [0.89796807, 0.10203193],
       [0.86604416, 0.13395584],
       [0.53768997, 0.46231003],
       [0.88013849, 0.11986151],
       [0.65333273, 0.34666727],
       [0.81171912, 0.18828088],
       [0.21106337, 0.78893663],
       [0.0938581 , 0.9061419 ],
       [0.0916159 , 0.9083841 ],
       [0.29258342, 0.70741658],
       [0.58493287, 0.41506713],
       [0.89550028, 0.10449972],
       [0.92145879, 0.07854121],
       [0.67308757, 0.32691243],
       [0.18553807, 0.81446193],
       [0.85031341, 0.14968659],
       [0.23463545, 0.76536455],
       [0.30688001, 0.69311999],
       [0.17191403, 0.82808597],
       [0.88013849, 0.11986151],
       [0.47985155, 0.52014845],
       [0.88804945, 0.11195055],
       [0.90335574, 0.09664426],
       [0.89550028, 0.10449972],
       [0.86604416, 0.13395584],
       [0.89550028, 0.10449972],
       [0.17694434, 0.82305566],
       [0.88216037, 0.11783963],
       [0.92230657, 0.07769343],
       [0.88216037, 0.11783963],
       [0.23294043, 0.76705957],
       [0.3257779 , 0.6742221 ],
       [0.67587671, 0.32412329],
       [0.89550028, 0.10449972],
       [0.57673705, 0.42326295],
       [0.89550028, 0.10449972],
       [0.39078279, 0.60921721],
       [0.87389235, 0.12610765],
       [0.53105892, 0.46894108],
       [0.86604416, 0.13395584],
       [0.06343723, 0.93656277],
       [0.36262336, 0.63737664],
       [0.83419785, 0.16580215],
       [0.2048778 , 0.7951222 ],
       [0.77360769, 0.22639231],
       [0.83510917, 0.16489083],
       [0.80677803, 0.19322197],
       [0.75267934, 0.24732066],
       [0.3680578 , 0.6319422 ],
       [0.86530286, 0.13469714],
       [0.32611805, 0.67388195],
       [0.24872749, 0.75127251],
       [0.33003279, 0.66996721],
       [0.90909661, 0.09090339],
       [0.89550028, 0.10449972],
       [0.59723666, 0.40276334],
       [0.83419785, 0.16580215],
       [0.89550028, 0.10449972],
       [0.57673705, 0.42326295],
       [0.33466035, 0.66533965],
       [0.83419785, 0.16580215],
       [0.73692278, 0.26307722],
       [0.90909661, 0.09090339],
       [0.89183123, 0.10816877],
       [0.10879582, 0.89120418],
       [0.8742724 , 0.1257276 ],
       [0.58613415, 0.41386585],
       [0.89729327, 0.10270673],
       [0.90250966, 0.09749034],
       [0.66736087, 0.33263913],
       [0.83125793, 0.16874207],
       [0.88804945, 0.11195055],
       [0.32611805, 0.67388195],
       [0.20590163, 0.79409837],
       [0.65974168, 0.34025832],
       [0.84550806, 0.15449194],
       [0.74434   , 0.25566   ],
       [0.51149679, 0.48850321],
       [0.87600475, 0.12399525],
       [0.81754964, 0.18245036],
       [0.89550028, 0.10449972],
       [0.36539296, 0.63460704],
       [0.0916159 , 0.9083841 ],
       [0.28126966, 0.71873034],
       [0.62212373, 0.37787627],
       [0.74174012, 0.25825988],
       [0.8936797 , 0.1063203 ],
       [0.80792022, 0.19207978],
       [0.89183123, 0.10816877],
       [0.82603089, 0.17396911],
       [0.76677353, 0.23322647],
       [0.60011103, 0.39988897],
       [0.11200213, 0.88799787],
       [0.88611557, 0.11388443],
       [0.21881762, 0.78118238],
       [0.53105892, 0.46894108],
       [0.80375048, 0.19624952],
       [0.74906777, 0.25093223],
       [0.30471415, 0.69528585],
       [0.49731176, 0.50268824],
       [0.83419785, 0.16580215],
       [0.2865211 , 0.7134789 ],
       [0.8936797 , 0.1063203 ],
       [0.58613415, 0.41386585],
       [0.78684697, 0.21315303],
       [0.87872265, 0.12127735],
       [0.76330305, 0.23669695],
       [0.83419785, 0.16580215],
       [0.73802442, 0.26197558],
       [0.90250966, 0.09749034],
       [0.95237106, 0.04762894],
       [0.10340296, 0.89659704],
       [0.9157663 , 0.0842337 ],
       [0.33722016, 0.66277984],
       [0.76677353, 0.23322647],
       [0.31357124, 0.68642876],
       [0.75979712, 0.24020288],
       [0.21324004, 0.78675996],
       [0.08234046, 0.91765954],
       [0.76330305, 0.23669695],
       [0.73802442, 0.26197558],
       [0.87526975, 0.12473025],
       [0.33912409, 0.66087591],
       [0.67571455, 0.32428545],
       [0.20412448, 0.79587552],
       [0.89550028, 0.10449972],
       [0.86604416, 0.13395584],
       [0.43939702, 0.56060298],
       [0.96558649, 0.03441351],
       [0.14992258, 0.85007742],
       [0.21324004, 0.78675996],
       [0.8936797 , 0.1063203 ],
       [0.06229977, 0.93770023],
       [0.59947858, 0.40052142],
       [0.85538478, 0.14461522],
       [0.36357871, 0.63642129],
       [0.08234046, 0.91765954],
       [0.6716329 , 0.3283671 ],
       [0.77824117, 0.22175883],
       [0.05966839, 0.94033161],
       [0.67146964, 0.32853036],
       [0.82313119, 0.17686881],
       [0.17611719, 0.82388281],
       [0.07676519, 0.92323481],
       [0.44120674, 0.55879326],
       [0.74906777, 0.25093223],
       [0.69649901, 0.30350099],
       [0.92439886, 0.07560114],
       [0.86604416, 0.13395584],
       [0.86150083, 0.13849917],
       [0.39078279, 0.60921721],
       [0.38793838, 0.61206162],
       [0.77360769, 0.22639231],
       [0.24480442, 0.75519558],
       [0.88804945, 0.11195055],
       [0.85676759, 0.14323241],
       [0.84957566, 0.15042434],
       [0.90762805, 0.09237195],
       [0.55301445, 0.44698555],
       [0.14646512, 0.85353488],
       [0.88193993, 0.11806007],
       [0.83140649, 0.16859351],
       [0.93872048, 0.06127952],
       [0.08996202, 0.91003798],
       [0.85682889, 0.14317111],
       [0.1005396 , 0.8994604 ],
       [0.88415264, 0.11584736],
       [0.87262236, 0.12737764],
       [0.09584969, 0.90415031],
       [0.82972292, 0.17027708],
       [0.05442217, 0.94557783],
       [0.52423498, 0.47576502],
       [0.55682205, 0.44317795],
       [0.63223496, 0.36776504],
       [0.7848336 , 0.2151664 ],
       [0.60816175, 0.39183825],
       [0.32611805, 0.67388195],
       [0.33431571, 0.66568429],
       [0.32611805, 0.67388195],
       [0.09717296, 0.90282704],
       [0.39078279, 0.60921721],
       [0.89550028, 0.10449972],
       [0.06894725, 0.93105275],
       [0.91300745, 0.08699255],
       [0.89550028, 0.10449972],
       [0.86455431, 0.13544569]])

In [15]:
submission = pd.DataFrame(columns= ["PassengerId", "Survived"])
submission["PassengerId"] = test_data["PassengerId"]
submission["Survived"] = test_predictions

submission.to_csv("submission.csv", index= False)